@import url(https://unpkg.com/@webpixels/css@1.0/dist/index.css);
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@600;700;800;900&display=swap');

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    background: linear-gradient(to right, #010E27, #022449, #010E28);
    font-family: 'Big Shoulders Text', cursive;
}

video {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 660px !important;
    object-fit: cover;
    z-index: 0;
}

.nav-item {
    color: #cdf583 !important;

}

.nav-item:hover {
    color: #88C63E !important;
}

#register {
    background-color: #88C63E !important;
    color: #cdf583 !important;
    padding: .5em 2em;
}

#register:hover {
    background-color: #C3F26A !important;
    color: #88C63E !important;
}

.banner-content {
    z-index: 1;
    position: relative;
    margin-top: 5em;
}

.banner-content #f-col p:first-child {
    font-size: xx-large;
    font-weight: 900 !important;
    background: linear-gradient(to right, #4a7c0cc7, #e7ffbb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


.banner-content #f-col p:last-child {
    background: linear-gradient(to right, #4a7c0cc7, #e7ffbb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-content #s-col p:first-child {
    font-size: xx-large;
    font-weight: 900 !important;
    background: linear-gradient(to left, #4a7c0cc7, #e7ffbb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.banner-content #s-col p:last-child {
    background: linear-gradient(to left, #4a7c0cc7, #e7ffbb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-2 {
    display: none;
}

/* Cards */
.cards {
    margin-top: 10em;
    margin-bottom: 5em;
}

#card-border {
    background-color: transparent;
    border-color: #88C63E;
    border-radius: 5%;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0) 50%, #88C63E 50%);
    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    transition: background-position 500ms;
}

#card-border:hover {
    background-position: 0 100%;
}

.cards i,
#card-border p {
    color: #88C63E;
    font-weight: bolder;
    font-size: x-large;
}



#card-border:hover i,
#card-border:hover p {
    color: #021B3F;
}










@media (max-width:991px) {

    body {
        background: linear-gradient(to right, #030205, #070712, #030207);
    }

    video {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 500px !important;
        object-fit: cover;
        z-index: 0;
    }

    .navbar,
    .banner-content #f-col,
    .banner-content #s-col {
        -webkit-backdrop-filter: blur(8px);
        /* Safari 9+ */
        backdrop-filter: blur(8px);
        /* Chrome and Opera */
        box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.08);
    }

    .nav-item {
        color: #E95619 !important;

    }

    .nav-item:hover {
        color: #fa8948 !important;
    }

    #register {
        background-color: #E95619 !important;
        color: #fa8948 !important;
        padding: .3em;
    }

    #register:hover {
        background-color: #fa8948 !important;
        color: #E95619 !important;
    }

    .navbar-toggler i {
        font-size: xx-large;
        color: #fa8948 !important;
    }


    .navbar-toggler:hover {
        color: #E95619 !important;
    }

    .banner-content #f-col p:first-child {
        font-size: larger;
        font-weight: 900 !important;
        padding-top: .5em;
        background: linear-gradient(to right, #E95619, #fa8948);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }


    .banner-content #f-col p:last-child {
        font-size: xx-small;
        padding-bottom: 1.2em;
        background: linear-gradient(to right, #E95619, #fa8948);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .banner-content #s-col p:first-child {
        font-size: larger;
        font-weight: 900 !important;
        padding-top: .5em;
        background: linear-gradient(to left, #E95619, #fa8948);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }


    .banner-content #s-col p:last-child {
        font-size: xx-small;
        padding-bottom: 1.2em;
        background: linear-gradient(to left, #E95619, #fa8948);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .section-2 {
        display: inline;
    }

    .cards {
        margin-top: 7em;
        margin-bottom: 5em;
    }

    #card-border {
        background-color: transparent;
        border-color: #E95619;
        border-radius: 5%;
        background-size: 100% 200%;
        background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0) 50%, #E95619 50%);
        -webkit-transition: background-position 1s;
        -moz-transition: background-position 1s;
        transition: background-position 500ms;
    }

    .cards i,
    #card-border p {
        color: #E95619;
        font-weight: bolder;
        font-size: x-large;
    }


    #card-border:hover i,
    #card-border:hover p {
        color: #070712;
    }
}

@media (max-width:767px) {

    .banner-content #f-col p:first-child,
    .banner-content #s-col p:first-child {
        font-size: medium;
    }

    .banner-content #f-col p:last-child,
    .banner-content #s-col p:last-child {
        font-size: 8px;
    }


}

@media (max-width:575px) {

    video {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 550px !important;
        object-fit: cover;
        z-index: 0;
    }

    #s-col {
        display: none;
    }

    .banner-content #f-col p:first-child {
        font-size: 25px !important;
    }

    .banner-content #f-col p:last-child {
        font-size: 15px;
    }

    .cards {
        margin-top: 1em;
    }

    #card-border {
        margin-top: 2em;
    }
}

@media (max-width:358px) {
    video {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 590px !important;
        object-fit: cover;
        z-index: 0;
    }

}